BACKEND_HOST=
BACKEND_PORT=
CONFIDENCE_THRESHOLD=
CORS_ORIGINS=
ENABLE_PADDLEOCR=
FRAME_SKIP=
STORAGE_BUCKET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
YOLO_MODEL_PATH=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=